<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://use.fontawesome.com/fa67b3beb5.js"></script>

    <link href="../static/bootstrap.min.css" rel="stylesheet">
	<link href="../static/theme.css" rel="stylesheet">


    <title>Apostolus Dei VKBot</title>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
	  <a class="navbar-brand">
		<i class="fas fa-skull"></i> Apostolus Dei VKBot
	  </a>
	</nav>

    <div class="container" role="main" align="center">
		<div class="row">
			<div class="col">
				<svg viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				  <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
				  <path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
				  <circle cx="3.5" cy="5.5" r=".5"/>
				  <circle cx="3.5" cy="8" r=".5"/>
				  <circle cx="3.5" cy="10.5" r=".5"/>
				</svg>
				<h>Cписок игроков</h>
				<table class="table table-hover table-dark">
					<thead>
						<th>№</th>
						<th>Игрок</th>
						<th>Дата последнего поста</th>
					</thead>
					<tbody>
						{% for player in players %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ player.name }}</td>
							<td>{{ player.date.strftime("%d/%m/%Y, %H:%M:%S") }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col">
				<svg viewBox="0 0 16 16" class="bi bi-calendar-week" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				  <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
				  <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
				</svg>
				<h>Список грядущих напоминаний</h>
				<table class="table table-hover table-dark">
					<thead>
						<th>№</th>
						<th>Игрок</th>
						<th>Время напоминания</th>
					</thead>
					<tbody>
						{% for notification in notifications %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ notification.name }}</td>
							<td>{{ notification.date.strftime("%d/%m/%Y, %H:%M:%S") }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
    </div>
  </body>
</html>